<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Cards</title>
    <style>
        body {
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: #f8f8f8;
            color: gray;
        }
        h1 {
            font-family: Arial, Helvetica, sans-serif;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            width: 100vw;
        }
        .card {
            background-color: snow;
            border-radius: 2em;
            box-shadow: 0 2px 4px lightgrey;
            overflow: hidden;
            transition: 0.3s;
            padding: 1em;
        }
        .card:hover {
            box-shadow: 0em 0em 0.5em goldenrod;
            transition: 0.5s;
        }
        .card-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: left;
            }
        .card-header {
            display: flex;
            align-items: center;
            gap: 1em;
        }
        .class-rank {
            position: relative;
            gap: 1em;
            color: black;
            font-size: 20pt;
            font-weight: bold;
        }
        .player-name {
            margin: 0;
        }
        .player-bio {
            font-size: 1em;
            color: gray;
            text-align: center;
        }
        .game-info {
            display: block;
            margin-top: 10px;
            color: black;
        }
        .stats {
            color: gray;
            margin-top: 0.5em;
        }
        .btn-link {
            text-decoration: none;
        }
        .player-link {
            text-decoration:none;
        }
        .player-rank {
            display: inline-block;
            color: gray;
        }    
        .player-row {
            display: flex;
            gap: 1em;
        }
        .shadow-headshot {
            width: 200px;
            height: auto;
            filter: drop-shadow(-0.5em -0.5em 0.5em darkgray);
            /* Optional: Prevent surrounding div issues */
            display: inline-block;
        }
        .team-logo {
            width: 150px;
            height: auto;
            display: inline-block;
        }
        .value {
            color: cornflowerblue;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
        }
        @media (max-width: 1360px) {
            .grid-container {
                grid-template-columns: repeat(2, 1fr);
                gap: 1em;
            }
            .team-logo {
                width: 100px;
            }
            .shadow-headshot {
                width: 150px;
            }
        }
        @media (max-width: 850px) {
            .grid-container {
                grid-template-columns: 1fr;
                gap: 1em;
            }
        }
    </style>
</head>
<body>
    <h1>Freshmen</h1>
    <div class="grid-container">
        {% set max_ez = players | map(attribute='ez_struct.ez') | max %}
        {% for player in players if (player.experience_abbreviation in ['FR']  and player.class_rank <= 50) %}
        <div class="card">
            <div class="card-content">
                <div class="player-row">
                    <div class="class-rank">
                        {{ player.class_rank }}
                    </div>
                    <div class="player-rank">
                        own: #{{ player.game_rank }} ({{ player.games }})
                    </div>    
                    <div class="player-rank">
                        <span class="value">{{ player.usg_struct.pts }}</span> pts
                        <span class="value">{{ player.stats.ast }}</span> ast
                        <span class="value">{{ player.stats.orb+player.stats.drb }}</span> reb
                        <span class="value">{{ player.stats.stl }}</span> stl
                        <span class="value">{{ player.stats.blk }}</span> blk
                        <span class="value">{{ player.stats.tov }}</span> tov
                    </div>
                </div>
                <div class="card-header">
                    <a href="https://www.espn.com/mens-college-basketball/player/_/id/{{ player.player_id }}" class="btn-link">
                        <div class="player-bio">
                            <img src={{ player.headshot_href }} class="shadow-headshot">
                            <br>
                            #{{ player.jersey | int }}
                            {{ player.display_name }}
                            {% if player.recruit_rank>0 %}({{ player.recruit_rank | int}}){% endif %}
                           <br>
                            {{ player.display_height }}
                            {{ player.display_weight }} - {{ player.experience_abbreviation }} - {{ player.position_abbreviation }}
                        </div>    
                    </a>
                    <div class="player-bio">
                        {{ player.team_location}} 
                        <br>
                        {{ player.team_conf }}
                        <br>
                        <img src={{ player.team_logo}} class="team-logo">
                    </div>
                </div> 
                <div class="game-info">
                    {{ player.date.strftime('%-m/%-d') }}
                    {% if player.starter %}Started in {% else %}Came off bench in {% endif %}
                    {% if (player.team_pts-player.opp_pts) > 0 %}win{% else %}loss{% endif %}
                    {% if player.home %} vs {% else %} at {% endif %}
                    {{ player.opp_location }}
                    <a href="https://www.espn.com/mens-college-basketball/boxscore/_/gameId/{{ player.game_id }}">
                        {{ player.team_pts }} - {{ player.opp_pts }}
                    </a>
                </div>        
                <hr style="border: none; height: 2px; background-color: #f0f0f0; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(255, 255, 255, 0.7);">
                <div class="stats">
                    <div>
                        ez: <span class="value">{{ player.ez_struct.ez }}{{ player.notable }}</span> 
                        ez75: <span class="value">{{ player.ez_struct.ez75 }}</span>
                        avg: <span class="value">{{ player.ez_struct.avg }}</span>
                        std: <span class="value">{{ player.ez_struct.std }}</span>
                        max: <span class="value">{{ player.ez_struct.max }}</span>
                        <br>
                        <span class="value">{{ player.minutes }}</span> min
                        <span class="value">{{ player.poss }}</span> poss
                        <span class="value">{{ player.usg_struct.usg }}</span> usg
                        <span class="value">{{ player.usg_struct.ts }}</span> ts
                        <span class="value">{{ player.usg_struct.ppp }}</span> ppp
                        <br>
                        assists: 
                        <span class="value">{{ player.assists.layups }}</span> layup
                        <span class="value">{{ player.assists.dunks }}</span> dunk
                        <span class="value">{{ player.assists.midrange }}</span> midrange
                        <span class="value">{{ player.assists.threes }}</span> 3pt
                        <br>
                        rebounds: 
                        <span class="value">{{ player.stats.orb }}</span> offense
                        <span class="value">{{ player.stats.drb }}</span> defense
                        <br>
                        2pt: <span class="value">{{ player.shots_struct.twos }}</span>
                        3pt: <span class="value">{{ player.shots_struct.threes }}</span>
                        ft: <span class="value">{{ player.shots_struct.fts }}</span>
                        <br>
                        dnk: <span class="value">{{ player.shots_struct.dunks }}</span>
                        lay: <span class="value">{{ player.shots_struct.layups }}</span>
                        mid: <span class="value">{{ player.shots_struct.midrange }}</span>
                        <br>
                        <div style="display: flex; height: 0.75em; width: 100%; background-color: #f0f0f0; overflow: hidden; ">
                            <div style="background-color: forestgreen; width: {{ 100*player.ez_components.scoring/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Scoring: {{ player.ez_components.scoring | round(1) }}"></div>
                            <div style="background-color: dodgerblue; width: {{ 100*player.ez_components.passing/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Passing: {{ player.ez_components.passing | round(1) }}"></div>
                            <div style="background-color: darkorange; width: {{ 100*player.ez_components.stocks/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Stocks: {{ player.ez_components.stocks | round(1) }}"></div>
                            <div style="background-color: palevioletred; width: {{ 100*player.ez_components.rebounding/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Rebounding: {{ player.ez_components.rebounding | round(1) }}"></div>
                        </div>                            
                        score: <span class="value" style="color: forestgreen;">{{ player.ez_components.scoring | round(1) }}</span>
                        pass: <span class="value" style="color: dodgerblue;">{{ player.ez_components.passing | round(1) }}</span>
                        def: <span class="value" style="color: darkorange;">{{ player.ez_components.stocks | round(1) }}</span>
                        reb: <span class="value" style="color: palevioletred;">{{ player.ez_components.rebounding | round(1) }}</span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h1>Sophomores</h1>
    <div class="grid-container">
        {% set max_ez = players | map(attribute='ez_struct.ez') | max %}
        {% for player in players if (player.experience_abbreviation in ['SO']  and player.class_rank <= 50) %}
        <div class="card">
            <div class="card-content">
                <div class="player-row">
                    <div class="class-rank">
                        {{ player.class_rank }}
                    </div>
                    <div class="player-rank">
                        own: #{{ player.game_rank }} ({{ player.games }})
                    </div>    
                    <div class="player-rank">
                        <span class="value">{{ player.usg_struct.pts }}</span> pts
                        <span class="value">{{ player.stats.ast }}</span> ast
                        <span class="value">{{ player.stats.orb+player.stats.drb }}</span> reb
                        <span class="value">{{ player.stats.stl }}</span> stl
                        <span class="value">{{ player.stats.blk }}</span> blk
                        <span class="value">{{ player.stats.tov }}</span> tov
                    </div>
                </div>
                <div class="card-header">
                    <a href="https://www.espn.com/mens-college-basketball/player/_/id/{{ player.player_id }}" class="btn-link">
                        <div class="player-bio">
                            <img src={{ player.headshot_href }} class="shadow-headshot">
                            <br>
                            #{{ player.jersey | int}}
                            {{ player.display_name }}
                            {% if player.recruit_rank>0 %}({{ player.recruit_rank | int}}){% endif %}
                            <br>
                            {{ player.display_height }}
                            {{ player.display_weight }} - {{ player.experience_abbreviation }} - {{ player.position_abbreviation }}
                        </div>    
                    </a>
                    <div class="player-bio">
                        {{ player.team_location}} 
                        <br>
                        {{ player.team_conf }}
                        <br>
                        <img src={{ player.team_logo}} class="team-logo">
                    </div>
                </div> 
                <div class="game-info">
                    {{ player.date.strftime('%-m/%-d') }}
                    {% if player.starter %}Started in {% else %}Came off bench in {% endif %}
                    {% if (player.team_pts-player.opp_pts) > 0 %}win{% else %}loss{% endif %}
                    {% if player.home %} vs {% else %} at {% endif %}
                    {{ player.opp_location }}
                    <a href="https://www.espn.com/mens-college-basketball/boxscore/_/gameId/{{ player.game_id }}">
                        {{ player.team_pts }} - {{ player.opp_pts }}
                    </a>
                </div>        
                <hr style="border: none; height: 2px; background-color: #f0f0f0; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(255, 255, 255, 0.7);">
                <div class="stats">
                    <div>
                        ez: <span class="value">{{ player.ez_struct.ez }}{{ player.notable }}</span> 
                        ez75: <span class="value">{{ player.ez_struct.ez75 }}</span>
                        avg: <span class="value">{{ player.ez_struct.avg }}</span>
                        std: <span class="value">{{ player.ez_struct.std }}</span>
                        max: <span class="value">{{ player.ez_struct.max }}</span>
                        <br>
                        <span class="value">{{ player.minutes }}</span> min
                        <span class="value">{{ player.poss }}</span> poss
                        <span class="value">{{ player.usg_struct.usg }}</span> usg
                        <span class="value">{{ player.usg_struct.ts }}</span> ts
                        <span class="value">{{ player.usg_struct.ppp }}</span> ppp
                        <br>
                        assists: 
                        <span class="value">{{ player.assists.layups }}</span> layup
                        <span class="value">{{ player.assists.dunks }}</span> dunk
                        <span class="value">{{ player.assists.midrange }}</span> midrange
                        <span class="value">{{ player.assists.threes }}</span> 3pt
                        <br>
                        rebounds: 
                        <span class="value">{{ player.stats.orb }}</span> offense
                        <span class="value">{{ player.stats.drb }}</span> defense
                        <br>
                        2pt: <span class="value">{{ player.shots_struct.twos }}</span>
                        3pt: <span class="value">{{ player.shots_struct.threes }}</span>
                        ft: <span class="value">{{ player.shots_struct.fts }}</span>
                        <br>
                        dnk: <span class="value">{{ player.shots_struct.dunks }}</span>
                        lay: <span class="value">{{ player.shots_struct.layups }}</span>
                        mid: <span class="value">{{ player.shots_struct.midrange }}</span>
                        <br>
                        <div style="display: flex; height: 0.75em; width: 100%; background-color: #f0f0f0; overflow: hidden; ">
                            <div style="background-color: forestgreen; width: {{ 100*player.ez_components.scoring/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Scoring: {{ player.ez_components.scoring | round(1) }}"></div>
                            <div style="background-color: dodgerblue; width: {{ 100*player.ez_components.passing/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Passing: {{ player.ez_components.passing | round(1) }}"></div>
                            <div style="background-color: darkorange; width: {{ 100*player.ez_components.stocks/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Stocks: {{ player.ez_components.stocks | round(1) }}"></div>
                            <div style="background-color: palevioletred; width: {{ 100*player.ez_components.rebounding/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Rebounding: {{ player.ez_components.rebounding | round(1) }}"></div>
                        </div>                            
                        score: <span class="value" style="color: forestgreen;">{{ player.ez_components.scoring | round(1) }}</span>
                        pass: <span class="value" style="color: dodgerblue;">{{ player.ez_components.passing | round(1) }}</span>
                        def: <span class="value" style="color: darkorange;">{{ player.ez_components.stocks | round(1) }}</span>
                        reb: <span class="value" style="color: palevioletred;">{{ player.ez_components.rebounding | round(1) }}</span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h1>Juniors</h1>
    <div class="grid-container">
        {% set max_ez = players | map(attribute='ez_struct.ez') | max %}
        {% for player in players if (player.experience_abbreviation in ['JR']  and player.class_rank <= 50) %}
        <div class="card">
            <div class="card-content">
                <div class="player-row">
                    <div class="class-rank">
                        {{ player.class_rank }}
                    </div>
                    <div class="player-rank">
                        own: #{{ player.game_rank }} ({{ player.games }})
                    </div>    
                    <div class="player-rank">
                        <span class="value">{{ player.usg_struct.pts }}</span> pts
                        <span class="value">{{ player.stats.ast }}</span> ast
                        <span class="value">{{ player.stats.orb+player.stats.drb }}</span> reb
                        <span class="value">{{ player.stats.stl }}</span> stl
                        <span class="value">{{ player.stats.blk }}</span> blk
                        <span class="value">{{ player.stats.tov }}</span> tov
                    </div>
                </div>
                <div class="card-header">
                    <a href="https://www.espn.com/mens-college-basketball/player/_/id/{{ player.player_id }}" class="btn-link">
                        <div class="player-bio">
                            <img src={{ player.headshot_href }} class="shadow-headshot">
                            <br>
                            #{{ player.jersey | int }}
                            {{ player.display_name }}
                            {% if player.recruit_rank>0 %}({{ player.recruit_rank | int}}){% endif %}
                            <br>
                            {{ player.display_height }}
                            {{ player.display_weight }} - {{ player.experience_abbreviation }} - {{ player.position_abbreviation }}
                        </div>    
                    </a>
                    <div class="player-bio">
                        {{ player.team_location}} 
                        <br>
                        {{ player.team_conf }}
                        <br>
                        <img src={{ player.team_logo}} class="team-logo">
                    </div>
                </div> 
                <div class="game-info">
                    {{ player.date.strftime('%-m/%-d') }}
                    {% if player.starter %}Started in {% else %}Came off bench in {% endif %}
                    {% if (player.team_pts-player.opp_pts) > 0 %}win{% else %}loss{% endif %}
                    {% if player.home %} vs {% else %} at {% endif %}
                    {{ player.opp_location }}
                    <a href="https://www.espn.com/mens-college-basketball/boxscore/_/gameId/{{ player.game_id }}">
                        {{ player.team_pts }} - {{ player.opp_pts }}
                    </a>
                </div>        
                <hr style="border: none; height: 2px; background-color: #f0f0f0; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(255, 255, 255, 0.7);">
                <div class="stats">
                    <div>
                        ez: <span class="value">{{ player.ez_struct.ez }}{{ player.notable }}</span> 
                        ez75: <span class="value">{{ player.ez_struct.ez75 }}</span>
                        avg: <span class="value">{{ player.ez_struct.avg }}</span>
                        std: <span class="value">{{ player.ez_struct.std }}</span>
                        max: <span class="value">{{ player.ez_struct.max }}</span>
                        <br>
                        <span class="value">{{ player.minutes }}</span> min
                        <span class="value">{{ player.poss }}</span> poss
                        <span class="value">{{ player.usg_struct.usg }}</span> usg
                        <span class="value">{{ player.usg_struct.ts }}</span> ts
                        <span class="value">{{ player.usg_struct.ppp }}</span> ppp
                        <br>
                        assists: 
                        <span class="value">{{ player.assists.layups }}</span> layup
                        <span class="value">{{ player.assists.dunks }}</span> dunk
                        <span class="value">{{ player.assists.midrange }}</span> midrange
                        <span class="value">{{ player.assists.threes }}</span> 3pt
                        <br>
                        rebounds: 
                        <span class="value">{{ player.stats.orb }}</span> offense
                        <span class="value">{{ player.stats.drb }}</span> defense
                        <br>
                        2pt: <span class="value">{{ player.shots_struct.twos }}</span>
                        3pt: <span class="value">{{ player.shots_struct.threes }}</span>
                        ft: <span class="value">{{ player.shots_struct.fts }}</span>
                        <br>
                        dnk: <span class="value">{{ player.shots_struct.dunks }}</span>
                        lay: <span class="value">{{ player.shots_struct.layups }}</span>
                        mid: <span class="value">{{ player.shots_struct.midrange }}</span>
                        <br>
                        <div style="display: flex; height: 0.75em; width: 100%; background-color: #f0f0f0; overflow: hidden; ">
                            <div style="background-color: forestgreen; width: {{ 100*player.ez_components.scoring/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Scoring: {{ player.ez_components.scoring | round(1) }}"></div>
                            <div style="background-color: dodgerblue; width: {{ 100*player.ez_components.passing/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Passing: {{ player.ez_components.passing | round(1) }}"></div>
                            <div style="background-color: darkorange; width: {{ 100*player.ez_components.stocks/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Stocks: {{ player.ez_components.stocks | round(1) }}"></div>
                            <div style="background-color: palevioletred; width: {{ 100*player.ez_components.rebounding/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Rebounding: {{ player.ez_components.rebounding | round(1) }}"></div>
                        </div>                            
                        score: <span class="value" style="color: forestgreen;">{{ player.ez_components.scoring | round(1) }}</span>
                        pass: <span class="value" style="color: dodgerblue;">{{ player.ez_components.passing | round(1) }}</span>
                        def: <span class="value" style="color: darkorange;">{{ player.ez_components.stocks | round(1) }}</span>
                        reb: <span class="value" style="color: palevioletred;">{{ player.ez_components.rebounding | round(1) }}</span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h1>Seniors</h1>
    <div class="grid-container">
        {% set max_ez = players | map(attribute='ez_struct.ez') | max %}
        {% for player in players if (player.experience_abbreviation in ['SR']  and player.class_rank <= 50) %}
        <div class="card">
            <div class="card-content">
                <div class="player-row">
                    <div class="class-rank">
                        {{ player.class_rank }}
                    </div>
                    <div class="player-rank">
                        own: #{{ player.game_rank }} ({{ player.games }})
                    </div>    
                    <div class="player-rank">
                        <span class="value">{{ player.usg_struct.pts }}</span> pts
                        <span class="value">{{ player.stats.ast }}</span> ast
                        <span class="value">{{ player.stats.orb+player.stats.drb }}</span> reb
                        <span class="value">{{ player.stats.stl }}</span> stl
                        <span class="value">{{ player.stats.blk }}</span> blk
                        <span class="value">{{ player.stats.tov }}</span> tov
                    </div>
                </div>
                <div class="card-header">
                    <a href="https://www.espn.com/mens-college-basketball/player/_/id/{{ player.player_id }}" class="btn-link">
                        <div class="player-bio">
                            <img src={{ player.headshot_href }} class="shadow-headshot">
                            <br>
                            #{{ player.jersey | int }}
                            {{ player.display_name }}
                            {% if player.recruit_rank>0 %}({{ player.recruit_rank | int}}){% endif %}
                            <br>
                            {{ player.display_height }}
                            {{ player.display_weight }} - {{ player.experience_abbreviation }} - {{ player.position_abbreviation }}
                        </div>    
                    </a>
                    <div class="player-bio">
                        {{ player.team_location}} 
                        <br>
                        {{ player.team_conf }}
                        <br>
                        <img src={{ player.team_logo}} class="team-logo">
                    </div>
                </div> 
                <div class="game-info">
                    {{ player.date.strftime('%-m/%-d') }}
                    {% if player.starter %}Started in {% else %}Came off bench in {% endif %}
                    {% if (player.team_pts-player.opp_pts) > 0 %}win{% else %}loss{% endif %}
                    {% if player.home %} vs {% else %} at {% endif %}
                    {{ player.opp_location }}
                    <a href="https://www.espn.com/mens-college-basketball/boxscore/_/gameId/{{ player.game_id }}">
                        {{ player.team_pts }} - {{ player.opp_pts }}
                    </a>
                </div>        
                <hr style="border: none; height: 2px; background-color: #f0f0f0; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 -1px 2px rgba(255, 255, 255, 0.7);">
                <div class="stats">
                    <div>
                        ez: <span class="value">{{ player.ez_struct.ez }}{{ player.notable }}</span> 
                        ez75: <span class="value">{{ player.ez_struct.ez75 }}</span>
                        avg: <span class="value">{{ player.ez_struct.avg }}</span>
                        std: <span class="value">{{ player.ez_struct.std }}</span>
                        max: <span class="value">{{ player.ez_struct.max }}</span>
                        <br>
                        <span class="value">{{ player.minutes }}</span> min
                        <span class="value">{{ player.poss }}</span> poss
                        <span class="value">{{ player.usg_struct.usg }}</span> usg
                        <span class="value">{{ player.usg_struct.ts }}</span> ts
                        <span class="value">{{ player.usg_struct.ppp }}</span> ppp
                        <br>
                        assists: 
                        <span class="value">{{ player.assists.layups }}</span> layup
                        <span class="value">{{ player.assists.dunks }}</span> dunk
                        <span class="value">{{ player.assists.midrange }}</span> midrange
                        <span class="value">{{ player.assists.threes }}</span> 3pt
                        <br>
                        rebounds: 
                        <span class="value">{{ player.stats.orb }}</span> offense
                        <span class="value">{{ player.stats.drb }}</span> defense
                        <br>
                        2pt: <span class="value">{{ player.shots_struct.twos }}</span>
                        3pt: <span class="value">{{ player.shots_struct.threes }}</span>
                        ft: <span class="value">{{ player.shots_struct.fts }}</span>
                        <br>
                        dnk: <span class="value">{{ player.shots_struct.dunks }}</span>
                        lay: <span class="value">{{ player.shots_struct.layups }}</span>
                        mid: <span class="value">{{ player.shots_struct.midrange }}</span>
                        <br>
                        <div style="display: flex; height: 0.75em; width: 100%; background-color: #f0f0f0; overflow: hidden; ">
                            <div style="background-color: forestgreen; width: {{ 100*player.ez_components.scoring/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Scoring: {{ player.ez_components.scoring | round(1) }}"></div>
                            <div style="background-color: dodgerblue; width: {{ 100*player.ez_components.passing/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Passing: {{ player.ez_components.passing | round(1) }}"></div>
                            <div style="background-color: darkorange; width: {{ 100*player.ez_components.stocks/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Stocks: {{ player.ez_components.stocks | round(1) }}"></div>
                            <div style="background-color: palevioletred; width: {{ 100*player.ez_components.rebounding/max_ez }}%; display: flex; align-items: center; justify-content: center; color: white;" title="Rebounding: {{ player.ez_components.rebounding | round(1) }}"></div>
                        </div>                            
                        score: <span class="value" style="color: forestgreen;">{{ player.ez_components.scoring | round(1) }}</span>
                        pass: <span class="value" style="color: dodgerblue;">{{ player.ez_components.passing | round(1) }}</span>
                        def: <span class="value" style="color: darkorange;">{{ player.ez_components.stocks | round(1) }}</span>
                        reb: <span class="value" style="color: palevioletred;">{{ player.ez_components.rebounding | round(1) }}</span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>